.container-main-content{
    display: flex;
    flex-direction: column;
    min-width: 80%;
    height: auto;
    margin: 1rem auto;
    row-gap: 1rem;
}

.carrosel{
    position: relative;
    width: 100%;
    height: 8rem;
    background-color: var(--white);
    border-radius: 8px;
    text-align: center;
    background: linear-gradient(150deg, #fa0d0d, #ffbb00);

}

.grid-poster h2{
    position: relative;
    bottom: -1rem;
    left: 1rem;
    width: 5rem;
    text-transform: uppercase;
    font-weight: bolder;
    color: var(--white);
    line-height: 1.5rem;
    text-align: left;

}

.carrosel img{
    position: absolute;
    right: 0.3rem;
    bottom: -1rem;
    width: 9.4rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 7rem);
    gap: 20px;
    justify-content: center;
    align-items: center;
    
}

.route-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
    background: #90caf9;
    background-color: var(--white);
    width: 7rem;
    height: 7rem  ;
    border-radius: 8px;
    transition: all 0.1s;
}

.route-item:hover{
    transform: scale(0.9);
    
}

.route-item .fa-solid{
    font-size: 1.5rem;
    color: var(--gray);
    transition: 0.1s;
}

.route-item:hover .fa-solid{
    font-size: 1.8rem;
    color: var(--secColor);
}

.route-item h4{
    font-weight: 700;
    font-size: 0.6rem;
}

@media (min-width:768px){
    .container-main-content{
        display: flex;
        /* background-color: #90caf9; */
        max-width: 640px;
        align-items: center;
    }

    .carrosel img{
        position: absolute;
        right: 0.3rem;
        bottom: -0.6rem;
        width: 13rem;
    }

    .grid-poster h2{
    position: relative;
    bottom: -2rem;
    left: 1.5rem;
    width: 7rem;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 2rem;
    color: var(--white);
    line-height: 2rem;
    text-align: left;

    }

    .carrosel{
        height: 250px;
    }
    .grid-container{
        display: grid;
        /* background-color: #fa0d0d; */
        grid-template-columns: repeat(3, 1fr);
    }
}