@import url('cabecario.css');
@import url('home.css');
@import url('modulos.css');
@import url('planos.css');
@import url('pergunta.css');
@import url('footer.css');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans;
}

html{
    scroll-behavior: smooth ;
}   
body{
    background-color: rgb(255, 255, 255);   
}

a{
    color: inherit;
    text-decoration:none;
    font-size: 0.7rem;
}

p{
    color: #6C7890;
    font-size: 15px;
    font-weight: 400;
}