.container-header{
    display: flex;
    padding: 1rem 0;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.logo{
    font-size: 24px;
    font-weight: 800;
}

.location{
    display: flex;
    background-color: var(--primary-white);
    color: var(--primary-green);
    align-items: center;
    padding: 8px;
    column-gap: 8px;
    border-radius: 8px;
}
.location span{
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-green);
}

.cart{
    display: flex;
    background-color: var(--primary-white);
    color: var(--primary-green);
    width: 2rem;
    height: 2rem;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}
.queue{
    display: flex;
    column-gap: 8px;
}

@media (max-width: 480px) {

    .container-header{
    display: flex;
    padding: 1rem 1rem;
    justify-content: space-between;
}
}