@import url('global.css');
@import url('header.css');
@import url('home.css');
@import url('products.css');
@import url('utilitarias.css');
@import url('footer.css');


a{
    text-decoration: none;
    color: inherit;
    color: var(--primary-color);
}
h1{
    font-size: 2rem;
    font-weight: 800;
    font-style: Extrabold;
    line-height: 100%;
    color: var(--primary-color);
}

p, span{
    color: var(--primary-color);
    font-size: 16px ;
}

strong{
    font-weight: 600;
    font-size: inherit;
}

.wrapper{
    width: 100%;
    background-position: center;
    background-image: url('../img/background.png');
}


