.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding-top: 1rem;
}